.HomePage {
  padding-block: 40px;
  .box {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    width: 100%;

    .content {
      display: flex;
      flex-direction: column;
      gap: 30px;
      width: 100%;
      max-width: 1050px;
      @media (max-width: 900px) {
        gap: 20px;
      }
    }

    .category_block_mobile {
      display: none;
    }
  }
}
@media (max-width: 900px) {
  .HomePage {
    padding-block: 20px;
  }
  .box {
    flex-direction: column;
    gap: 20px;

    .content {
      max-width: 100%;
      .category_block_mobile {
        display: flex;
      }
    }
    .category_block {
      display: none;
    }
  }
}

@media (max-width: 480px) {
  .HomePage {
    padding-block: 15px;
  }
  .box {
    gap: 15px;

    .content {
      gap: 20px;
    }
  }
}
