.HomePage {
  padding-block: 40px; // или столько, сколько нужно, чтобы отодвинуть от header
}

.box {
  display: flex;
  gap: 20px;
  justify-content: space-between;
}
.content {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 100%;
  max-width: 1050px;
}

.category_block {
  display: flex;
  flex-direction: column;
  gap: 24px;
  //   max-width: 100px;
  width: 100%;
  background-color: #ffffff;
  border-radius: 16px;
  padding: 24px 32px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.05);

  .category_title {
    font-size: 25px;
    text-transform: uppercase;
    font-weight: 600;
    color: #2c2c2c;
    margin-bottom: 8px;
  }

  .content_cards {
    display: flex;
    gap: 24px;
    padding-bottom: 10px;
    // scroll-snap-type: x mandatory;
    .cards {
      scroll-snap-align: start;
      flex: 0 0 auto;
      width: 265px;
      background-color: #f9f9f9;
      border-radius: 14px;
      box-shadow: 0 1px 14px rgba(0, 0, 0, 0.156);
      //   overflow: hidden;
      display: flex;
      flex-direction: column;
      transition: transform 0.3s ease, box-shadow 0.3s ease;
      cursor: pointer;

      &:hover {
        transform: scale(1.012);
      }

      .card_image {
        border-radius: 14px 14px 0 0;
        width: 100%;
        height: 300px;
        object-fit: contain;
        background-color: #f0f0f0;
        border-bottom: 1px solid #e0e0e0;
        transition: transform 0.3s ease;
      }

      .text {
        padding: 16px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex-grow: 1;

        h2 {
          font-size: 1.1rem;
          font-weight: 600;
          color: #1e1e1e;
          margin-bottom: 8px;
          line-height: 1.4;
        }

        p {
          font-size: 0.95rem;
          color: #555;
          overflow: hidden;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 2;
          line-clamp: 2;
          margin-bottom: 8px;
        }

        span {
          font-weight: bold;
          color: #007bff;
          font-size: 0.9rem;
        }
      }
    }
  }
}

.content_category {
  flex-basis: 250px;
  min-width: 250px;
  background: #fbfafa;
  border-radius: 16px;
  box-shadow: 0 1px 12px rgba(0, 0, 0, 0.089);
  padding: 24px;
  position: sticky;
  top: 130px;
  height: 80vh;
  overflow-y: auto;
  .category {
    display: flex;
    flex-direction: column;
    gap: 7px;
  }
  h1 {
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 20px;
    color: #333;
  }

  .category p {
    font-size: 16px;
    font-weight: 500;
    color: #444;
    padding: 6px 6px;
    cursor: pointer;
    transition: color 0.3s ease, 0.3s ease;

    &:hover {
      background-color: #f0f0f0;
      color: #000;
      border-radius: 4px;
    }
  }
}

.content_cards {
  display: flex;
  overflow-x: auto;
  //   gap: 16px;
  padding-bottom: 10px;
  scrollbar-width: none;
  -ms-overflow-style: none;
  &::-webkit-scrollbar {
    display: none;
  }
}

.category_block {
  width: 100%;
  overflow: hidden;
}

.scroll_wrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.content_cards {
  overflow-x: auto;
  display: flex;
  gap: 20px;
  padding: 20px 40px;
  scroll-behavior: smooth;
  width: 100%;
}

.scroll_button {
  position: absolute;
  //   top: 50%;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  //   transform: translateY(-50%);
  z-index: 10;
  background-color: rgba(255, 255, 255, 0.8);
  border: none;
  font-size: 24px;
  cursor: pointer;
  padding: 10px;
  border-radius: 50%;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease;

  &:hover {
    background-color: #ddd;
  }
}

.left {
  left: 10px;
}

.right {
  right: 10px;
}

.h1 {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  align-items: center;
}
