.HomePage {
  padding-block: 40px;

  .box {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    width: 100%;

    .content {
      display: flex;
      flex-direction: column;
      gap: 30px;
      width: 100%;
      max-width: 1050px;
      min-width: 330px;
    }
  }
}

//!
@media (max-width: 768px) {
  .box {
    flex-direction: column;
    gap: 20px;
  }
  .content {
    max-width: 100%;
  }
  .category_block {
    padding: 16px;
  }
}
