.content_category {
  width: 350px;
  background: #fff;
  border-radius: 16px;
  box-shadow: 0 1px 12px rgba(0, 0, 0, 0.089);
  padding: 24px;
  position: sticky;
  top: 110px;
  height: 80vh;
  overflow-y: auto;

  h1 {
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 20px;
    color: #333;
  }

  .category {
    display: flex;
    flex-direction: column;
    gap: 7px;

    .category_item {
      font-size: 16px;
      font-weight: 500;
      color: #444;
      padding: 6px;
      cursor: pointer;
      transition: color 0.3s ease, background-color 0.3s ease;

      &:hover {
        background-color: #f0f0f0;
        color: #000;
        border-radius: 4px;
      }

      &.active {
        background-color: #f0f0f0;
        color: #000;
        font-weight: 600;
      }
    }
  }

  .poppular_button {
    margin-top: 10px;
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 6px;
    font-size: 15px;
    font-weight: 600;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.06);
    background: rgb(56, 113, 255);
    border-radius: 4px;

    p {
      color: #fff;
      font-size: 16px;
      font-weight: 600;
    }

    img {
      width: 24px;
      height: 24px;
    }

    &:hover {
      transform: translateY(-2px);
      box-shadow: 0 8px 18px rgba(23, 162, 184, 0.3);
    }
  }
}
// Адаптация

@media (max-width: 790px) {
  .content_category {
    width: 100%;
    position: static;
    height: auto;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
    padding: 16px;
    border-radius: 12px;
    background: #fff;
    margin-bottom: 20px;

    h1 {
      font-size: 20px;
      margin-bottom: 12px;
    }

    .category {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 12px;

      .category_item {
        padding: 10px;
        border-radius: 8px;
        background: #f9f9f9;
        text-align: center;
        font-size: 15px;
        font-weight: 500;

        &:hover {
          background-color: #f0f0f0;
          color: #000;
          border-radius: 4px;
        }

        &.active {
          background-color: #f0f0f0;
          color: #000;
          font-weight: 600;
        }
      }
    }

    .poppular_button {
      width: 100%;
      justify-content: center;
      padding: 8px;
      font-size: 15px;
      margin-top: 16px;

      img {
        width: 20px;
        height: 20px;
      }
    }
  }
}

@media (max-width: 480px) {
  .content_category {
    padding: 12px;
    border-radius: 8px;

    h1 {
      font-size: 18px;
      margin-bottom: 10px;
    }

    .category {
      grid-template-columns: 1fr;
      gap: 10px;

      .category_item {
        padding: 8px;
        font-size: 14px;
      }
    }

    .poppular_button {
      padding: 6px;
      font-size: 14px;

      p {
        font-size: 14px;
      }

      img {
        width: 18px;
        height: 18px;
      }
    }
  }
}
