.content_category {
  width: 350px;
  background: #fff;
  border-radius: 16px;
  box-shadow: 0 1px 12px rgba(0, 0, 0, 0.089);
  padding: 24px;
  position: sticky;
  top: 110px;
  height: 80vh;

  h1 {
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 20px;
    color: #333;
  }

  .category {
    display: flex;
    flex-direction: column;
    gap: 7px;

    .category_item {
      font-size: 16px;
      font-weight: 500;
      color: #444;
      padding: 6px;
      cursor: pointer;
      transition: color 0.3s ease, background-color 0.3s ease;

      &:hover {
        background-color: #f0f0f0;
        color: #000;
        border-radius: 4px;
      }

      &.active {
        background-color: #f0f0f0;
        color: #000;
        font-weight: 600;
      }
    }
  }

  .poppular_button {
    margin-top: 10px;
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 6px;
    font-size: 15px;
    font-weight: 600;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.06);
    background: rgb(56, 113, 255);
    p {
      color: #fff;
      font-size: 16px;
      font-weight: 600;
      padding: 6px;
      cursor: pointer;
      transition: color 0.3s ease, background-color 0.3s ease;
    }

    &:hover {
      transform: translateY(-2px);
      box-shadow: 0 8px 18px rgba(23, 162, 184, 0.3);
      border-radius: 4px;
    }
  }
}

@media (max-width: 790px) {
  .content_category {
    display: none;
  }
}
