#Popular {
  padding: 24px 32px;
  background: linear-gradient(160deg, #fefefe 0%, #f4f4f4 100%);
  border-radius: 24px;
  box-shadow: 0 1px 35px rgba(0, 0, 0, 0.05);

  h1 {
    text-align: start;
    font-size: clamp(1.188rem, 1.08rem + 0.54vw, 1.563rem);
    color: #1e1e1e;
    padding-bottom: 40px;
    font-weight: 700;
    letter-spacing: 1px;
  }

  .content_box {
    .scrollableContent {
      display: flex;
      gap: 30px;
      overflow-x: auto;
      padding: 10px 16px;
      scroll-padding-left: 20px;
      scroll-snap-type: x mandatory;

      &::-webkit-scrollbar {
        height: 10px;
      }

      &::-webkit-scrollbar-track {
        background: transparent;
      }

      &::-webkit-scrollbar-thumb {
        background: linear-gradient(to right, #5492ee, #76adff);
        border-radius: 20px;
      }
    }

    .content_cards {
      flex: 0 0 auto;
      scroll-snap-align: start;
      width: 380px;
      // width: 100%;
      background: #fff;
      border-radius: 20px;
      box-shadow: 0 1px 13px rgba(0, 0, 0, 0.1);
      overflow: hidden;
      transition: transform 0.4s ease, box-shadow 0.4s ease;
      position: relative;
      cursor: pointer;

      &:hover {
        transform: translateY(-8px);
      }

      img {
        width: 100%;
        height: 240px;
        object-fit: cover;
        transition: transform 0.4s ease;
        filter: brightness(95%) contrast(105%);
      }

      .text {
        padding: 20px;
        display: flex;
        flex-direction: column;
        gap: 12px;

        h2 {
          font-size: 1.1rem;
          font-weight: 600;
          color: #222;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
          display: -webkit-box;
          overflow: hidden;
        }

        p {
          font-size: 0.95rem;
          color: #444;
          -webkit-line-clamp: 3;
          -webkit-box-orient: vertical;
          display: -webkit-box;
          overflow: hidden;
          font-weight: 500;
        }

        span {
          margin-top: auto;
          font-size: 0.9rem;
          font-weight: bold;
          color: #207bff;
          text-align: right;
        }
      }
    }

    @media (max-width: 768px) {
      .content_cards {
        max-width: 100%;
        margin: 0 auto;
      }
    }

    @media (min-width: 1024px) {
      .scrollableContent {
        padding-inline: 60px;
      }
    }
  }
}

@media (max-width: 360px) {
  .content_cards {
    width: 265px;
  }
}
