#Footer {
  padding-block: 40px;
  background: linear-gradient(160deg, #3871ff 0%, #1cbfff 100%);
  color: #fff;
  .content {
    display: flex;
    align-items: center;
    justify-content: center;
    h1 {
      font-size: clamp(1rem, 0.929rem + 0.36vw, 1.25rem);
      text-align: center;
      line-height: 25px;
    }
  }
}
@media (max-width: 800px) {
  #Footer {
    padding-block: 25px;
  }
}
@media (max-width: 500px) {
  #Footer {
    padding-block: 15px;
  }
}
