* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  border: none;
  font-family: "Roboto", sans-serif;
}

body {
  background: url(https://img.freepik.com/premium-vector/book-seamless-vector-pattern-doodle-background_629110-361.jpg?semt=ais_hybrid&w=740)
    no-repeat center;
  background-size: 100%;
  /* Убираем opacity или ставим правильное значение */
  /* opacity: 0.2; */ /* например, 20% видимости */
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.885); /* белый полупрозрачный слой */
  z-index: -1; /* чтобы он был под контентом */
}

.container {
  width: 100%;
  max-width: 1440px;
  margin-inline: auto;
  padding-inline: 40px;

  @media (max-width: 600px) {
    padding-inline: 20px;
  }
}
